<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-rounded btn-success mb10" (click)="createPopup(content2)">Создать импорт</button>
    <ng-template #content2 let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Создание импорт</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <form [formGroup]="createForm">
          <input type="text" name="percentage_allowance" placeholder="Процент надбавки" class="col-12 mb10 btn-rounded" formControlName="percentage_allowance">
          <div style="margin-top:11px;">
            <ng-select *ngIf="stocks" [(ngModel)]="activeStock" (change)="onChangeStock($event)" [ngModelOptions]="{ standalone: true }" class="col-12 mb10 btn-rounded">
              <ng-option *ngFor="let stock of stocks" [value]="stock['article']">{{stock['name']}}</ng-option>
            </ng-select>
          </div>
          <input type="file" class="col-12 mb10 btn-rounded" (change)="onChange($event)">
        </form>
        <!-- Shareable short link of  uoloaded file -->
        <div class="container text-center jumbotron mt-3"
             *ngIf="message">
          <h2>Результат импорта</h2>
          <span>{{message}}</span>
          <a href="/component/product" class="btn-block">Страница продуктов</a>
        </div>

        <!--Flag variable is used here-->
        <div class="container mt-3" *ngIf="loading">
          <h5>Загрузка ...</h5>
          <span>Подождите завершения импорта, не закрывайте данную страницу!</span>
          <div style="border: 1px solid; border-radius: 20px; width: 100%; height: 20px; overflow: hidden; position: relative;">
            <div [style]="'background-color: green; width: '+ progressBar + '%; height: 100%;'"></div>
            <div style="color: #000; font-weight: bold; position: absolute; left: 50%; top: 0; transform: translate(-50%, 0);">{{progressBar}}%</div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end p10">
        <button type="button" class="btn btn-rounded btn-success" (click)="create(createForm)">upload</button>
      </div>
    </ng-template>
  </div>
  <table class="col-12 card">
    <thead>
    <tr>
      <th class="pr-3">Файл</th>
      <th class="pr-3">Статус</th>
      <th class="pr-3">Склад</th>
      <th class="pr-3">Процент <br> надбавки</th>
      <th class="pr-3">Количество <br> товаров в файле</th>
      <th class="pr-3">Прогресс</th>
      <th class="pr-3"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let import of imports">
      <td class="pl-0 pr-3 pt-2 pb-2 col-auto">{{import['message']['file_name']}}</td>
      <td class="pl-0 pr-3 pt-2 pb-2 col-auto">{{import['status']}}</td>
      <td class="pl-0 pr-3 pt-2 pb-2 col-auto">{{import['message']['stock']}}</td>
      <td class="pl-0 pr-3 pt-2 pb-2 col-auto">{{import['message']['percentage_allowance']}}</td>
      <td class="pl-0 pr-3 pt-2 pb-2 col-auto">{{import['message']['count']}}</td>
      <td class="pl-0 pr-3 pt-2 pb-2 col-3">
        <div style="border: 1px solid; border-radius: 20px; width: 100%; height: 20px; overflow: hidden; position: relative;">
          <div [style]="'background-color: green; width: '+ import['message']['progressBar'] + '%; height: 100%;'"></div>
          <div style="color: #000; font-weight: bold; position: absolute; left: 50%; top: 0; transform: translate(-50%, 0);">{{import['message']['progressBar']}}%</div>
        </div>
      </td>
      <td class="pl-0 pr-3 pt-2 pb-2 col-auto">
        <!--                                          <button type="button" class="btn delete" (click)="delete(row['id'])"><i class="fa fa-trash-alt"></i></button>-->
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- End Row -->
