/*
Template Name: Admin Template
Author: Niravjoshi / Wrappixel
File: scss
*/

//(fonts)
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");

//(Required file)
@import "variable";

// Import Bootstrap source files (Required file)
@import "bootstrap/bootstrap";

//This is for the components (Required file)
@import "components";

//This is for the responsive (Required file)
@import "responsive";

//In This scss you can write your scss
@import "custom";

//This is for the icons (Required file)
@import "icons/font-awesome/css/fontawesome-all.css";
@import "icons/themify-icons/themify-icons.css";
@import "icons/material-design-iconic-font/css/materialdesignicons.min.css";
@import "icons/weather-icons/css/weather-icons.min.css";


.absolute {
  position: absolute;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.width-full {
  width: 100%;
}
.p10 {
  padding: 10px;
}
.p15 {
 padding: 15px;
}
.mb0 {
  margin-bottom: 0;
}
.mb10 {
  margin-bottom: 10px;
}
.mr10 {
  margin-right: 10px;
}

.toolbar {
  background-color: $skin1;
  z-index: 1;
}

.actions {
  .delete {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    border: 1px solid red;
    padding: 5px 10px;
    background-color: #fff;
  }
}
