<div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-rounded btn-success mb10" (click)="createPopup(content2)">Создать заказ</button>
      <ng-template #content2 let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Создание заказа</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row">
          <form [formGroup]="createForm">
            <label for="description">Описание</label>
            <input type="text" id="description" name="description" placeholder="Description" class="col-12 mb10 btn-rounded" formControlName="description" />
            <label for="address">Адресс</label>
            <input type="text" id="address" name="address" placeholder="Address" class="col-12 mb10 btn-rounded" formControlName="address" />
            <label for="status">Статус</label>
            <select class="col-12 mb10 btn-rounded" id="status" formControlName="status">
              <option>Open</option>
              <option>Pending</option>
              <option>Success</option>
            </select>
            <label for="price">Цена</label>
            <input type="number" id="price" name="price" placeholder="Price" class="col-12 mb10 btn-rounded" formControlName="price" />
            <div class="col-12 mb10">
              <label for="user">Поиск клиентов по номеру телефона</label>
              <div class="row">
                <input type="text" id="user" name="user" placeholder="User" class="col btn-rounded mr10" formControlName="user" />
                <div class="btn btn-rounded btn-success" (click)="search('user')">search</div>
              </div>
            </div>
            <select class="col-12 mb10 btn-rounded" formControlName="user_id" *ngIf="users" (change)="changeUser($event.target.value)">
              <option selected>Выберите клиента</option>
              <option *ngFor="let user of users" value="{{user['id']}}">{{user['first_name']}} {{user['last_name']}}</option>
            </select>
            <div class="col-12 mb10">
              <label for="car">Поиск машин по гос номеру</label>
              <div class="row">
                <input type="text" id="car" name="car" placeholder="Car" class="col btn-rounded mr10" formControlName="car" />
                <div class="btn btn-rounded btn-success" (click)="search('car')">search</div>
              </div>
            </div>
            <select class="col-12 mb10 btn-rounded" formControlName="car_id" *ngIf="cars" (change)="changeCar($event.target.value)">
              <option selected>Выберите машину</option>
              <option *ngFor="let car of cars" value="{{car['id']}}">{{car['gos_number']}} {{car['mark']}} {{car['model']}}</option>
            </select>
          </form>
        </div>
        <div class="row justify-content-end p10">
          <button type="button" class="btn btn-rounded btn-success" (click)="create(createForm)">save</button>
        </div>
      </ng-template>
    </div>
    <div class="col-12">
        <!-- Row -->
        <div class="row card-row">
            <!-- column -->
            <div class="col-lg-3 col-md-6 card" *ngFor="let row of data">
                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="card-body-header">
                          <h4 class="card-title">Сделка № {{row['id']}}</h4>
                          <h4 class="card-price">{{row['price']}} Р</h4>
                          <div class="actions">
                            <button type="button" class="btn" (click)="edit(content1)"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn delete" (click)="delete(row['id'])"><i class="fa fa-trash-alt"></i></button>
                          </div>
                        </div>
                        <p class="card-text">
                          {{row['description']}}
                        </p>
                        <div class="card-body-header absolute bottom left width-full p15">
                          <p class="card-text">{{row['status']}}</p>
                          <p class="card-text" *ngIf="row['car']">{{row['car']['gos_number']}}</p>
                          <div class="card-image-block" *ngIf="row['user']">
                            <div class="card-image-block-avatar" style="background: url('assets/images/big/img1.jpg') no-repeat;"></div>
                            <div class="card-image-block-content">
                              <h4 class="card-title">{{row['user']['first_name']}} {{row['user']['last_name']}}</h4>
                              <p class="card-text">Телефон: {{row['user']['phone']}}</p>
                              <p class="card-text">Почта: {{row['user']['email']}}</p>
                              <p class="card-text">Дата рождения: {{row['user']['date_of_birth']}}</p>
                            </div>
                          </div>
                        </div>
                        <ng-template #content1 let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title">Сделка № {{row['id']}}</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body row">
                            <form [formGroup]="editForm">
                              <div class="form-inline mb10">
                                <label for="description-update" class="justify-content-start col-2">Статус</label>
                                <select class="col-auto btn-rounded" formControlName="status" [ngModel]="row['status']">
                                  <option>Open</option>
                                  <option>Pending</option>
                                  <option>Success</option>
                                </select>
                              </div>
                              <div class="form-inline mb10">
                                <label for="address-update" class="justify-content-start col-2">Адрес</label>
                                <input type="text" name="address-update" id="address-update" placeholder="Address" value="{{row['address']}}" class="col-auto btn-rounded" formControlName="address" [ngModel]="row['address']" />
                              </div>
                              <div class="form-inline mb10">
                                <label for="price-update" class="justify-content-start col-2">Цена</label>
                                <input type="text" name="price-update" id="price-update" placeholder="Price" value="{{row['price']}}" class="col-auto btn-rounded" formControlName="price" [ngModel]="row['price']" />
                              </div>
                              <div class="form-inline mb10">
                                <label for="description-update" class="justify-content-start col-2">Описание</label>
                                <input type="text" name="description-update" id="description-update" placeholder="Description" value="{{row['description']}}" class="col-auto btn-rounded" formControlName="description" [ngModel]="row['description']" />
                              </div>
                              <h5 class="mt-5 mb-3 font-weight-bold">Список товаров</h5>
                              <table class="col-12 card">
                                <thead>
                                  <tr>
                                    <th class="pr-3">Артикул</th>
                                    <th class="pr-3">Название</th>
                                    <th class="pr-3">Количество</th>
                                    <th class="pr-3">Цена</th>
                                    <th class="pr-3">Склад</th>
                                    <th class="pr-3"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let item of row['items']">
                                      <td class="pl-0 pr-3 pt-2 pb-2">{{item['product']['article']}}</td>
                                      <td class="pl-0 pr-3 pt-2 pb-2">{{item['product']['name']}}</td>
                                      <td class="pl-0 pr-3 pt-2 pb-2">{{item['qty']}}</td>
                                      <td class="pl-0 pr-3 pt-2 pb-2">{{item['price']}}</td>
                                      <td class="pl-0 pr-3 pt-2 pb-2">{{item['stock']['name']}}</td>
                                      <td class="pl-0 pr-3 pt-2 pb-2">
<!--                                          <button type="button" class="btn delete" (click)="delete(row['id'])"><i class="fa fa-trash-alt"></i></button>-->
                                      </td>
                                  </tr>
                                </tbody>
                              </table>
                            </form>
                          </div>
                          <div class="row justify-content-end p10">
                            <button type="button" class="btn btn-rounded btn-success" (click)="save(editForm, row['id'])">save</button>
                          </div>
                        </ng-template>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
    </div>
</div>
<!-- End Row -->
