<div class="row">
    <div class="col-12">
        <!-- Row -->
        <div class="row card-row">
            <!-- column -->
            <div class="col-lg-3 col-md-6 card" *ngFor="let row of data">
                <!-- Card -->
                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="card-body-header">
                          <h4 class="card-title">Марка: {{row['name']}}</h4>
                          <button type="button" class="btn btn-circle" [class.btn-success]="isCheckedMark(row['id'])" [class.btn-secondary]="!isCheckedMark(row['id'])" (click)="check('mark', row['id'])"><i class="fa fa-check"></i> </button>
                        </div>
                        <div class="card-body-header">
                          <h4 class="card-price">Тип: {{row['type']}}</h4>
                        </div>
                        <button class="btn btn-lg btn-outline-primary" (click)="open2(content2)">Models</button>
                        <ng-template #content2 let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title">{{row['name']}}</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="row justify-content-end p10">
                            <button type="button" class="btn btn-rounded btn-success" (click)="selectAll(row['models'])">Выбрать все</button>
                          </div>
                          <div class="modal-body" *ngIf="row['models']">
                            <div class="modal-body-header" *ngFor="let model of row['models']">
                              <span class="card-title">Модель: {{model['name']}}</span>
                              <span class="card-title">Тип: {{model['type']}}</span>
                              <button type="button" class="btn btn-circle" [class.btn-success]="isCheckedModel(model['id'])" [class.btn-secondary]="!isCheckedModel(model['id'])" (click)="check('model', model['id'])"><i class="fa fa-check"></i> </button>
                            </div>
                          </div>
                          <div class="row justify-content-end p10">
                            <button type="button" class="btn btn-rounded btn-success" (click)="save('model')">save</button>
                          </div>
                        </ng-template>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
    </div>
</div>

<div class="container-fluid toolbar fixed-bottom row justify-content-end p15">
  <button type="button" class="btn btn-rounded btn-success" (click)="save('mark')">save</button>
</div>
<!-- End Row -->
