<div class="col-lg-3 col-md-6 card" *ngFor="let row of data">
  <form [formGroup]="editForm">
    <label for="first_name">Ваше имя</label>
    <input type="text" id="first_name" name="first_name" placeholder="Ваше имя" class="col-12 mb10 btn-rounded" formControlName="first_name" [ngModel]="row['first_name']" />

    <label for="last_name">Ваша фамилия</label>
    <input type="text" id="last_name" name="last_name" placeholder="Ваша фамилия" class="col-12 mb10 btn-rounded" formControlName="last_name" [ngModel]="row['last_name']" />

    <label for="phone">Телефон</label>
    <input type="text" id="phone" name="phone" placeholder="Телефон" class="col-12 mb10 btn-rounded" formControlName="phone" [ngModel]="row['phone']" />

    <label for="date_of_birth">Ваш день рождения</label>
    <input type="text" id="date_of_birth" name="date_of_birth" placeholder="Ваш день рождения" class="col-12 mb10 btn-rounded" formControlName="date_of_birth" [ngModel]="row['date_of_birth']" />

    <label for="city">Ваш город</label>
    <input type="text" id="city" name="city" placeholder="Ваш город" class="col-12 mb10 btn-rounded" formControlName="city" [ngModel]="row['city']" />

    <label for="city">Ваша почта</label>
    <input type="text" id="email" name="email" placeholder="Ваша почта" class="col-12 mb10 btn-rounded" formControlName="email" [ngModel]="row['email']" />

    <label for="city">Аватар</label>
    <input type="text" id="images" name="images" placeholder="Ссылка на картинку" class="col-12 mb10 btn-rounded" formControlName="images" [ngModel]="row['images']" />
  </form>
  <div class="row justify-content-end p10">
    <button type="button" class="btn btn-rounded btn-success" (click)="save(editForm.value, row['id'])">save</button>
  </div>
</div>
