.ng-select {
  &.ng-select-single {
    .ng-select-container {
      background-color: #ffffff;
      border-bottom: 1px solid #E6EAEF;
      font-size: 14px;
      font-weight: normal;
      line-height: 22px;
      outline: none;
      width: 100%;
      height: 21px;

      .ng-value {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
        left: 6px;
      }
    }
  }
  input {
    font-size: 18px;
    color: #767676;
    padding: 0 6px !important;
  }
  .ng-dropdown-panel {
    max-width: calc(100% - 36px);
  }
  .ng-dropdown-panel-items {
    background-color: #fff;
    line-height: 40px;
    padding: 0 5px;
  }
  .ng-clear {
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    padding: 0;
    position: absolute;
  }
  .ng-option-marked {
    color: #0073F9;
  }
}
