<div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-rounded btn-success mb10" (click)="createPopup(content2)">Создать атрибут</button>
      <ng-template #content2 let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Создание заказа</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row">
          <form [formGroup]="createForm">
            <label for="slug">Ключ</label>
            <input type="text" id="slug" name="slug" placeholder="Ключ" class="col-12 mb10 btn-rounded" formControlName="slug" />
            <label for="type">Тип</label>
            <input type="text" id="type" name="type" placeholder="Тип" class="col-12 mb10 btn-rounded" formControlName="type" />
            <label for="name">Название</label>
            <input type="text" id="name" name="name" placeholder="Название" class="col-12 mb10 btn-rounded" formControlName="name" />
            <label for="model">Модель</label>
            <select class="col-12 mb10 btn-rounded" id="model" formControlName="model">
              <option>App\Models\Product</option>
              <option>App\Models\Category</option>
            </select>
          </form>
        </div>
        <div class="row justify-content-end p10">
          <button type="button" class="btn btn-rounded btn-success" (click)="create(createForm)">save</button>
        </div>
      </ng-template>
    </div>
    <div class="col-12">
        <!-- Row -->
        <div class="row card-row">
            <!-- column -->
            <div class="col-lg-3 col-md-6 card" *ngFor="let row of data">
                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="card-body-header">
                          <h4 class="card-title">Сделка № {{row['id']}}</h4>
                          <h4 class="card-price">{{row['price']}} Р</h4>
                          <div class="actions">
                            <button type="button" class="btn" (click)="edit(content1)"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn delete" (click)="delete(row['id'])"><i class="fa fa-trash-alt"></i></button>
                          </div>
                        </div>
                        <p class="card-text">
                          {{row['description']}}
                        </p>
                        <div class="card-body-header absolute bottom left width-full p15">
                          <p class="card-text">{{row['status']}}</p>
                          <p class="card-text" *ngIf="row['car']">{{row['car']['gos_number']}}</p>
                          <div class="card-image-block" *ngIf="row['user']">
                            <div class="card-image-block-avatar" style="background: url('assets/images/big/img1.jpg') no-repeat;"></div>
                            <div class="card-image-block-content">
                              <h4 class="card-title">{{row['user']['first_name']}} {{row['user']['last_name']}}</h4>
                              <p class="card-text">Телефон: {{row['user']['phone']}}</p>
                              <p class="card-text">Почта: {{row['user']['email']}}</p>
                              <p class="card-text">Дата рождения: {{row['user']['date_of_birth']}}</p>
                            </div>
                          </div>
                        </div>
                        <ng-template #content1 let-modal>
                          <div class="modal-header">
                            <h4 class="modal-title">Сделка № {{row['id']}}</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body row">
                            <form [formGroup]="editForm">
                              <input type="text" name="description" placeholder="Description" value="{{row['description']}}" class="col-12 mb10" formControlName="description" [ngModel]="row['description']" />
                              <input type="text" name="address" placeholder="Address" value="{{row['address']}}" class="col-12 mb10" formControlName="address" [ngModel]="row['address']" />
                              <input type="text" name="status" placeholder="Status" value="{{row['status']}}" class="col-12 mb10" formControlName="status" [ngModel]="row['status']" />
                              <input type="text" name="price" placeholder="Price" value="{{row['price']}}" class="col-12 mb10" formControlName="price" [ngModel]="row['price']" />
                            </form>
                          </div>
                          <div class="row justify-content-end p10">
                            <button type="button" class="btn btn-rounded btn-success" (click)="save(editForm, row['id'])">save</button>
                          </div>
                        </ng-template>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
    </div>
</div>
<!-- End Row -->
