form {
  color: #000;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;

  label {
    display: block;
  }
  input {
    max-width: 300px;
  }
  button {
    background: linear-gradient(224.53deg, #9E94FF 0%, #7E72F2 99.2%);
    box-shadow: -1px 1px 8px rgba(126, 114, 242, 0.578726);
    border-radius: 4px;
    color: #fff;
    margin-top: 20px;
  }
}

button {
  border: 0;
  background: #fff;
  box-shadow: -1px 1px 8px rgba(126, 114, 242, 0.578726);
  border-radius: 4px;
  color: #0F1642;
  padding: 5px 20px;
  outline: none;

  &:hover {
    background: linear-gradient(224.53deg, #9E94FF 0%, #7E72F2 99.2%);
    color: #fff;
  }
}
