<form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
  <div style="margin-top:11px;" [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
    <label for="loginName">Email</label>
    <input type="text" name="loginName" id="loginName" formControlName="email">
  </div>
  <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
    <div *ngIf="formControls.email.errors.required">Email is required</div>
  </div>
  <div style="margin-top:11px;">
    <label for="loginPassword">Password</label>
    <input type="password" name="loginPassword" id="loginPassword" formControlName="password">
  </div>
  <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
    <div *ngIf="formControls.password.errors.required">Password is required</div>
  </div>

  <button class="btn btn-default" type="submit">Сохранить</button>
</form>
