<div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-rounded btn-success mb10" (click)="createPopup(content2)">Добавить пользователя</button>
      <ng-template #content2 let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Создание заказа</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row">
          <form [formGroup]="createForm">
            <label for="first_name">Ваше имя</label>
            <input type="text" id="first_name" name="first_name" placeholder="Ваше имя" class="col-12 mb10 btn-rounded" formControlName="first_name" />

            <label for="last_name">Ваша фамилия</label>
            <input type="text" id="last_name" name="last_name" placeholder="Ваша фамилия" class="col-12 mb10 btn-rounded" formControlName="last_name" />

            <label for="phone">Телефон</label>
            <input type="text" id="phone" name="phone" placeholder="Телефон" class="col-12 mb10 btn-rounded" formControlName="phone"/>

            <label for="date_of_birth">Ваш день рождения</label>
            <input type="text" id="date_of_birth" name="date_of_birth" placeholder="Ваш день рождения" class="col-12 mb10 btn-rounded" formControlName="date_of_birth" />

            <label for="city">Ваш город</label>
            <input type="text" id="city" name="city" placeholder="Ваш город" class="col-12 mb10 btn-rounded" formControlName="city" />

            <label for="city">Ваша почта</label>
            <input type="text" id="email" name="email" placeholder="Ваша почта" class="col-12 mb10 btn-rounded" formControlName="email" />
          </form>
        </div>
        <div class="row justify-content-end p10">
          <button type="button" class="btn btn-rounded btn-success" (click)="create(createForm.value)">save</button>
        </div>
      </ng-template>
    </div>
    <div class="col-12">
        <!-- Row -->
        <div class="row card-row">
            <!-- column -->
            <div class="col-lg-3 col-md-6 card" *ngFor="let row of data">
                <!-- Card -->
                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="card-body-header">
                          <h4 class="card-title">{{row['first_name']}} {{row['last_name']}}</h4>
                          <div class="actions">
                            <button type="button" class="btn" (click)="edit(content1)"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn delete" (click)="delete(row['id'])"><i class="fa fa-trash-alt"></i></button>
                          </div>
                        </div>
                        <p class="card-text">Телефон: {{row['phone']}}</p>
                        <p class="card-text">Почта: {{row['email']}}</p>
                        <p class="card-text">Дата рождения: {{row['date_of_birth']}}</p>
                        <p class="card-text">Город: {{row['city']}}</p>
                        <div class="card-body-header absolute bottom left width-full p15 justify-content-end" *ngFor="let car of row['cars']">
                          <div class="card-image-block">
                            <div class="card-image-block-avatar" style="background: url('assets/images/big/img1.jpg') no-repeat;"></div>
                            <div class="card-image-block-content">
                              <div class="card-body-header">
                                <h4 class="card-title">{{car['mark']}} {{car['model']}}</h4>
                              </div>
                              <p class="card-text">
                                vin_number: {{car['vin_number']}}
                              </p>
                              <p class="card-text">
                                gos_number: {{car['gos_number']}}
                              </p>
                              <p class="card-text">
                                buy_date: {{car['buy_date']}}
                              </p>
                              <p class="card-text">
                                description: {{car['description']}}
                              </p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <ng-template #content1 let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title">Сделка № {{row['id']}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body row">
                        <form [formGroup]="editForm">
                          <label for="first_name">Ваше имя</label>
                          <input type="text" id="first_name" name="first_name" placeholder="Ваше имя" class="col-12 mb10 btn-rounded" formControlName="first_name" [ngModel]="row['first_name']" />

                          <label for="last_name">Ваша фамилия</label>
                          <input type="text" id="last_name" name="last_name" placeholder="Ваша фамилия" class="col-12 mb10 btn-rounded" formControlName="last_name" [ngModel]="row['last_name']" />

                          <label for="phone">Телефон</label>
                          <input type="text" id="phone" name="phone" placeholder="Телефон" class="col-12 mb10 btn-rounded" formControlName="phone" [ngModel]="row['phone']" />

                          <label for="date_of_birth">Ваш день рождения</label>
                          <input type="text" id="date_of_birth" name="date_of_birth" placeholder="Ваш день рождения" class="col-12 mb10 btn-rounded" formControlName="date_of_birth" [ngModel]="row['date_of_birth']" />

                          <label for="city">Ваш город</label>
                          <input type="text" id="city" name="city" placeholder="Ваш город" class="col-12 mb10 btn-rounded" formControlName="city" [ngModel]="row['city']" />

                          <label for="city">Ваша почта</label>
                          <input type="text" id="email" name="email" placeholder="Ваша почта" class="col-12 mb10 btn-rounded" formControlName="email" [ngModel]="row['email']" />
                        </form>
                      </div>
                      <div class="row justify-content-end p10">
                        <button type="button" class="btn btn-rounded btn-success" (click)="save(editForm.value, row['id'])">save</button>
                      </div>
                    </ng-template>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
    </div>
</div>
<!-- End Row -->
