<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-left mr-auto">
  <li class="nav-item d-none d-md-block d-lg-none">
    <a
      (click)="toggleSidebar.emit()"
      class="nav-link sidebartoggler waves-effect waves-light"
      href="javascript:void(0)"
    >
      <i class="mdi mdi-menu font-24"></i>
    </a>
  </li>
  <!-- ============================================================== -->
  <!-- Search -->
  <!-- ============================================================== -->
  <li class="nav-item search-box">
    <a
      (click)="showSearch = !showSearch"
      class="nav-link waves-effect waves-dark"
      href="javascript:void(0)"
    >
      <i class="ti-search"></i>
    </a>
    <form
      class="app-search position-absolute"
      [ngClass]="{ 'show-search': showSearch }"
    >
      <input
        type="text"
        class="form-control"
        placeholder="Search &amp; enter"
      />
      <a class="srh-btn" (click)="showSearch = !showSearch">
        <i class="ti-close"></i>
      </a>
    </form>
  </li>
</ul>
<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-right">
  <li class="nav-item m-r-20">
<!--    <a-->
<!--      href="https://www.wrappixel.com/templates/adminpro-angular-dashboard/"-->
<!--      class="btn btn-block btn-danger m-t-15"-->
<!--      >Сделать заказ</a-->
<!--    >-->
  </li>
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
  <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
    <a
      ngbDropdownToggle
      class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
      href="javascript:void(0)"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img
        [src]="getUserImages() ? getUserImages() : '/assets/images/users/1.jpg'"
        alt="user"
        class="rounded-circle"
        width="31"
      />
    </a>
    <div class="dropdown-menu user-dd" ngbDropdownMenu>
      <a class="dropdown-item" href="/component/profile">
        <i class="ti-user m-r-5 m-l-5"></i> My Profile</a
      >
<!--      <a class="dropdown-item" href="javascript:void(0)">-->
<!--        <i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a-->
<!--      >-->
<!--      <a class="dropdown-item" href="javascript:void(0)">-->
<!--        <i class="ti-email m-r-5 m-l-5"></i> Inbox</a-->
<!--      >-->
<!--      <div class="dropdown-divider"></div>-->
<!--      <a class="dropdown-item" href="javascript:void(0)">-->
<!--        <i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a-->
<!--      >-->
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">
        <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a
      >
      <div class="dropdown-divider"></div>
    </div>
  </li>
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
</ul>
