<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-rounded btn-success mb10" (click)="createPopup(content2)">Добавить склад</button>
    <ng-template #content2 let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Создание склада</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <form [formGroup]="createForm">
          <label for="article-create">Артикул</label>
          <input type="text" id="article-create" name="article" placeholder="Артикул" class="col-12 mb10 btn-rounded" formControlName="article" />
          <label for="name-create">Название</label>
          <input type="text" id="name-create" name="name" placeholder="Название" class="col-12 mb10 btn-rounded" formControlName="name" />
          <label for="manufacturer-create">Бренд</label>
          <input type="text" id="manufacturer-create" name="manufacturer" placeholder="Бренд" class="col-12 mb10 btn-rounded" formControlName="manufacturer" />
          <label for="city-create">Город</label>
          <input type="text" id="city-create" name="city" placeholder="Город" class="col-12 mb10 btn-rounded" formControlName="city" />
          <label for="delivery_date-create">Срок доставки</label>
          <input type="text" id="delivery_date-create" name="delivery_date" placeholder="Срок доставки" class="col-12 mb10 btn-rounded" formControlName="delivery_date" />
          <label for="description-create">Описание</label>
          <textarea id="description-create" name="description" placeholder="Описание" class="col-12 mb10" formControlName="description"></textarea>
        </form>
      </div>
      <div class="row justify-content-end p10">
        <button type="button" class="btn btn-rounded btn-success" (click)="create(createForm)">save</button>
      </div>
    </ng-template>
  </div>
  <div class="col-12">
    <!-- Row -->
    <div class="row card-row">
      <!-- column -->
      <div class="col-lg-3 col-md-6 card" *ngFor="let row of data">
        <div class="card-wrapper">
          <div class="card-body">
            <div class="card-body-header">
              <h4 class="card-title">{{row['name']}}</h4>
              <div class="actions">
                <button type="button" class="btn" (click)="edit(content1)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn delete" (click)="delete(row['id'])"><i class="fa fa-trash-alt"></i></button>
              </div>
            </div>
            <p class="card-text">
              Производитель: {{row['manufacturer']}}
            </p>
          </div>
          <ng-template #content1 let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Продукт № {{row['id']}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body row">
              <form [formGroup]="editForm">
                <label for="article-update">Артикул</label>
                <input type="text" id="article-update" name="article" placeholder="Артикул" class="col-12 mb10 btn-rounded" formControlName="article" [ngModel]="row['article']" />
                <label for="name-update">Название</label>
                <input type="text" id="name-update" name="name" placeholder="Название" class="col-12 mb10 btn-rounded" formControlName="name" [ngModel]="row['name']" />
                <label for="manufacturer-update">Бренд</label>
                <input type="text" id="manufacturer-update" name="manufacturer" placeholder="Бренд" class="col-12 mb10 btn-rounded" formControlName="manufacturer" [ngModel]="row['manufacturer']" />
                <label for="city-update">Город</label>
                <input type="text" id="city-update" name="city" placeholder="Город" class="col-12 mb10 btn-rounded" formControlName="city" [ngModel]="row['city']" />
                <label for="delivery_date-update">Срок доставки</label>
                <input type="text" id="delivery_date-update" name="delivery_date" placeholder="Срок доставки" class="col-12 mb10 btn-rounded" formControlName="delivery_date" [ngModel]="row['delivery_date']" />
                <label for="description-update">Описание</label>
                <textarea id="description-update" name="description" placeholder="Описание" class="col-12 mb10" formControlName="description" [ngModel]="row['description']"></textarea>
              </form>
            </div>
            <div class="row justify-content-end p10">
              <button type="button" class="btn btn-rounded btn-success" (click)="save(editForm, row['id'])">save</button>
            </div>
          </ng-template>
        </div>
        <!-- Card -->
      </div>
      <!-- column -->
    </div>
  </div>
</div>
<!-- End Row -->
