<div class="row">
  <div class="col-12">
    <div class="row align-items-center mb10">
      <button type="button" class="btn btn-rounded btn-success" (click)="createPopup(content2)">Добавить продукт</button>
      <div class="col-auto" [textContent]="'PAGES ' + data['page'] + ' OF ' + (data['count'] /data['page_size']) "></div>
      <div class="col-auto" [textContent]="'ITEMS ' + (data['page'] != 1 ? data['page'] * data['page_size'] : 1) + ' - ' + data['page_size'] + ' OF ' + data['count']"></div>
    </div>
    <ng-template #content2 let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Создание продукта</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <form [formGroup]="createForm">
          <div class="row mb10">
            <label class="col-auto align-self-center mb0">Включить продукт</label>
            <button type="button" class="btn btn-circle col-auto align-self-center" [class.btn-success]="isChecked(createForm, 'status', null)" [class.btn-secondary]="!isChecked(createForm, 'status', null)" (click)="check(createForm, 'status', null)"><i class="fa fa-check"></i> </button>
          </div>
          <label for="name-create">Название</label>
          <input type="text" id="name-create" name="name" placeholder="Название" class="col-12 mb10 btn-rounded" formControlName="name" />
          <label for="description-create">Описание</label>
          <input type="text" id="description-create" name="description" placeholder="Описание" class="col-12 mb10 btn-rounded" formControlName="description" />
          <label for="images-create">Картинка</label>
          <input type="text" id="images-create" name="images" placeholder="Картинка" class="col-12 mb10 btn-rounded" formControlName="images" />
          <label for="special_price-create">Специальная цена</label>
          <input type="number" id="special_price-create" name="special_price" placeholder="0.00" class="col-12 mb10 btn-rounded" formControlName="special_price" />
          <label for="price-create">Цена</label>
          <input type="number" id="price-create" name="price" placeholder="0.00" class="col-12 mb10 btn-rounded" formControlName="price" />
          <label for="qty-create">Количество</label>
          <input type="number" id="qty-create" name="qty" placeholder="0" class="col-12 mb10 btn-rounded" formControlName="qty" />
          <label>Категории</label>
          <ng-select *ngIf="categories"
                     (change)="onChangeCategory($event)"
                     [ngModelOptions]="{ standalone: true }"
                     [closeOnSelect]="false"
                     [hideSelected]="false"
                     [multiple]="true"
                     class="col-12 mb10 btn-rounded">
            <ng-option *ngFor="let category of categories" [value]="category['id']">{{category['name']}}</ng-option>
          </ng-select>
        </form>
      </div>
      <div class="row justify-content-end p10">
        <button type="button" class="btn btn-rounded btn-success" (click)="create(createForm)">save</button>
      </div>
    </ng-template>
  </div>
  <div class="col-12">
    <!-- Row -->
    <div class="row card-row">
      <!-- column -->
      <div class="col-lg-3 col-md-6 card" *ngFor="let row of data['items']">
        <div class="card-wrapper">
          <div class="card-body">
            <div class="card-body-header">
              <h4 class="card-title">Sku: {{row['article']}}</h4>
              <div class="actions">
                <button type="button" class="btn" (click)="edit(content1)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn delete" (click)="delete(row['id'])"><i class="fa fa-trash-alt"></i></button>
              </div>
            </div>
            <p class="card-text">
              Название: {{row['name']}}
              Количество: {{row['qty']}}
            </p>
            <div class="card-body-header absolute bottom left width-full p15">
              <p class="card-text">Цена: </p>
              <p class="card-text" *ngIf="row['special_price']">{{row['special_price']}} &#8381;</p>
              <p class="card-text" [class.old-price]="row['special_price']">{{row['price']}} &#8381;</p>
            </div>
          </div>
          <ng-template #content1 let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Продукт № {{row['id']}}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body row">
              <form [formGroup]="editForm">
                <div class="row mb10">
                  <label class="col-auto align-self-center mb0">Включить продукт</label>
                  <button type="button" class="btn btn-circle col-auto align-self-center" [class.btn-success]="isChecked(editForm, 'status', row['id'])" [class.btn-secondary]="!isChecked(editForm, 'status', row['id'])" (click)="check(editForm, 'status', row['id'])"><i class="fa fa-check"></i> </button>
                </div>
                <label for="name-update">Название</label>
                <input type="text" id="name-update" name="name" placeholder="Название" class="col-12 mb10 btn-rounded" formControlName="name" [ngModel]="row['name']" />
                <label for="description-update">Описание</label>
                <input type="text" id="description-update" name="description" placeholder="Описание" class="col-12 mb10 btn-rounded" formControlName="description" [ngModel]="row['description']" />
                <label for="images-update">Картинка</label>
                <input type="text" id="images-update" name="images" placeholder="Картинка" class="col-12 mb10 btn-rounded" formControlName="images" [ngModel]="row['images']" />
                <label for="special_price-update">Специальная цена</label>
                <input type="number" id="special_price-update" name="special_price" placeholder="0.00" class="col-12 mb10 btn-rounded" formControlName="special_price" [ngModel]="row['special_price']" />
                <label for="price-update">Цена</label>
                <input type="number" id="price-update" name="price" placeholder="0.00" class="col-12 mb10 btn-rounded" formControlName="price" [ngModel]="row['price']" />
                <label for="qty-update">Количество</label>
                <input type="number" id="qty-update" name="qty" placeholder="0" class="col-12 mb10 btn-rounded" formControlName="qty" [ngModel]="row['qty']" />
                <label>Категории</label>
                <ng-select *ngIf="categories"
                           [(ngModel)]="row['category_id']"
                           (change)="onChangeCategory($event)"
                           [ngModelOptions]="{ standalone: true }"
                           [closeOnSelect]="false"
                           [hideSelected]="false"
                           [multiple]="true"
                           class="col-12 mb10 btn-rounded">
                  <ng-option *ngFor="let category of categories" [value]="category['id']">{{category['name']}}</ng-option>
                </ng-select>
              </form>
            </div>
            <div class="row justify-content-end p10">
              <button type="button" class="btn btn-rounded btn-success" (click)="save(editForm, row['id'])">save</button>
            </div>
          </ng-template>
        </div>
        <!-- Card -->
      </div>
      <!-- column -->
    </div>
  </div>
</div>
<!-- End Row -->
