<h5 class="card-title cursor-pointer"
    [class.active]="show"
    (click)="toggle()"
    (click)="changeCategoryContent(categories)">
      {{categories['name']}} <span *ngIf="categories['items']">({{categories['items'].length}})</span>
</h5>
<ul *ngIf="show">
  <li class="p-l-5 col-lg-12" [class.active]="categoryActive == row['id']" *ngFor="let row of categories['items']" (click)="categoryActive = row['id']">
    <span class="card-title cursor-pointer" (click)="changeCategoryContent(row)">{{row['name']}}</span>
  </li>
</ul>
