<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-rounded btn-success mb10" (click)="createPopup(content2)">Добавить категорию</button>
    <ng-template #content2 let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Создание категории</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <form [formGroup]="createForm">
          <div class="row mb10">
            <label class="col-auto align-self-center mb0">Включить категорию</label>
            <button type="button" class="btn btn-circle col-auto align-self-center" [class.btn-success]="isChecked(createForm, 'status', null)" [class.btn-secondary]="!isChecked(createForm, 'status',null)" (click)="check(createForm, 'status', null)"><i class="fa fa-check"></i> </button>
          </div>
          <div class="row mb10">
            <label class="col-auto align-self-center mb0">Отображать на сайте</label>
            <button type="button" class="btn btn-circle col-auto align-self-center" [class.btn-success]="isChecked(createForm, 'is_active_site',null)" [class.btn-secondary]="!isChecked(createForm, 'is_active_site',null)" (click)="check(createForm, 'is_active_site', null)"><i class="fa fa-check"></i> </button>
          </div>
          <label for="name-create">Название</label>
          <input type="text" id="name-create" name="name" placeholder="Название" class="col-12 mb10 btn-rounded" formControlName="name" />
          <label for="description-create">Описание</label>
          <input type="text" id="description-create" name="description" placeholder="Описание" class="col-12 mb10 btn-rounded" formControlName="description" />
          <label for="images-create">Картинка</label>
          <input type="text" id="images-create" name="images" placeholder="Картинка" class="col-12 mb10 btn-rounded" formControlName="images" />
          <label>Родительская категория</label>
          <ng-select *ngIf="data"
                     [items]="data"
                     bindLabel="name"
                     bindValue="id"
                     (change)="onChangeCategory($event)"
                     [ngModelOptions]="{ standalone: true }"
                     class="col-12 mb10 btn-rounded">
          </ng-select>
        </form>
      </div>
      <div class="row justify-content-end p10">
        <button type="button" class="btn btn-rounded btn-success" (click)="create(createForm)">save</button>
      </div>
    </ng-template>
  </div>
  <div class="col-12">
    <!-- Row -->
    <div class="row">
      <div class="col-4 category-tree">
          <app-category-item [categories]="row" *ngFor="let row of data" (category)="changeCategoryData($event)"></app-category-item>
      </div>
      <div class="col-8 card-wrapper">
        <div class="row justify-content-end" *ngIf="category">
          <button type="button" class="delete btn btn-rounded btn-danger m-r-10" (click)="delete(category['id'])">delete</button>
          <button type="button" class="btn btn-rounded btn-success" (click)="save(editForm, category['id'])">save</button>
        </div>

        <form [formGroup]="editForm" *ngIf="category">
          <div class="row mb10">
            <label class="col-auto align-self-center mb0">Включить категорию</label>
            <button type="button" class="btn btn-circle col-auto align-self-center" [class.btn-success]="isChecked(editForm, 'status', category['id'])" [class.btn-secondary]="!isChecked(editForm, 'status', category['id'])" (click)="check(editForm, 'status', category['id'])"><i class="fa fa-check"></i> </button>
          </div>
          <div class="row mb10">
            <label class="col-auto align-self-center mb0">Отображать на сайте</label>
            <button type="button" class="btn btn-circle col-auto align-self-center" [class.btn-success]="isChecked(editForm, 'is_active_site', category['id'])" [class.btn-secondary]="!isChecked(editForm, 'is_active_site', category['id'])" (click)="check(editForm, 'is_active_site', category['id'])"><i class="fa fa-check"></i> </button>
          </div>
          <label for="name-update">Название</label>
          <input type="text" id="name-update" name="name" placeholder="Название" class="col-12 mb10 btn-rounded" formControlName="name" [ngModel]="category['name']" />
          <label for="description-update">Описание</label>
          <input type="text" id="description-update" name="description" placeholder="Описание" class="col-12 mb10 btn-rounded" formControlName="description" [ngModel]="category['description']" />
          <label for="images-update">Картинка</label>
          <input type="text" id="images-update" name="images" placeholder="Картинка" class="col-12 mb10 btn-rounded" formControlName="images" [ngModel]="category['images']" />
          <label>Родительская категория</label>
          <ng-select *ngIf="data"
                     [items]="data"
                     bindLabel="name"
                     bindValue="id"
                     [(ngModel)]="category['parent_id']"
                     [ngModelOptions]="{ standalone: true }"
                     (change)="onChangeCategory($event)"
                     class="col-12 mb10 btn-rounded">
          </ng-select>
        </form>
      </div>
    </div>
<!--          <div class="card-body">-->
<!--            <div class="card-body-header">-->
<!--              <h4 class="card-title">{{row['name']}}</h4>-->
<!--              <div class="actions">-->
<!--                <button type="button" class="btn" (click)="edit(content1)"><i class="fa fa-edit"></i></button>-->
<!--                <button type="button" class="btn delete" (click)="delete(row['id'])"><i class="fa fa-trash-alt"></i></button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <ng-template #content1 let-modal>-->
<!--            <div class="modal-header">-->
<!--              <h4 class="modal-title">Категория № {{row['id']}}</h4>-->
<!--              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--                <span aria-hidden="true">&times;</span>-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="modal-body row">-->
<!--              <form [formGroup]="editForm">-->
<!--                <div class="row mb10">-->
<!--                  <label class="col-auto align-self-center mb0">Включить категорию</label>-->
<!--                  <button type="button" class="btn btn-circle col-auto align-self-center" [class.btn-success]="isChecked(editForm, 'status', row['id'])" [class.btn-secondary]="!isChecked(editOrderForm, 'status', row['id'])" (click)="check(editOrderForm, 'status', row['id'])"><i class="fa fa-check"></i> </button>-->
<!--                </div>-->
<!--                <div class="row mb10">-->
<!--                  <label class="col-auto align-self-center mb0">Отображать на сайте</label>-->
<!--                  <button type="button" class="btn btn-circle col-auto align-self-center" [class.btn-success]="isChecked(editForm, 'is_active_site', row['id'])" [class.btn-secondary]="!isChecked(editOrderForm, 'is_active_site', row['id'])" (click)="check(editOrderForm, 'is_active_site', row['id'])"><i class="fa fa-check"></i> </button>-->
<!--                </div>-->
<!--                <label for="name-update">Название</label>-->
<!--                <input type="text" id="name-update" name="name" placeholder="Название" class="col-12 mb10 btn-rounded" formControlName="name" [ngModel]="row['name']" />-->
<!--                <label for="description-update">Описание</label>-->
<!--                <input type="text" id="description-update" name="description" placeholder="Описание" class="col-12 mb10 btn-rounded" formControlName="description" [ngModel]="row['description']" />-->
<!--                <label for="images-update">Картинка</label>-->
<!--                <input type="text" id="images-update" name="images" placeholder="Картинка" class="col-12 mb10 btn-rounded" formControlName="images" [ngModel]="row['images']" />-->
<!--                <label>Родительская категория</label>-->
<!--                <ng-select *ngIf="data"-->
<!--                           [items]="data"-->
<!--                           bindLabel="name"-->
<!--                           bindValue="id"-->
<!--                           [(ngModel)]="row['parent_id']"-->
<!--                           [ngModelOptions]="{ standalone: true }"-->
<!--                           (change)="onChangeCategory($event)"-->
<!--                           class="col-12 mb10 btn-rounded">-->
<!--                </ng-select>-->
<!--              </form>-->
<!--            </div>-->
<!--            <div class="row justify-content-end p10">-->
<!--              <button type="button" class="btn btn-rounded btn-success" (click)="save(editForm, row['id'])">save</button>-->
<!--            </div>-->
<!--          </ng-template>-->
<!--        </div>-->
        <!-- Card -->
      <!-- column -->
  </div>
</div>
<!-- End Row -->
