<div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-rounded btn-success mb10" (click)="createPopup(content2)">Добавить Машину</button>
      <ng-template #content2 let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Создание заказа</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row">
          <form [formGroup]="createForm">
            <label for="vin_number-create">Винномер</label>
            <input type="text" id="vin_number-create" name="vin_number" placeholder="Винномер" class="col-12 mb10 btn-rounded" formControlName="vin_number" />

            <label for="gos_number-create">Госномер</label>
            <input type="text" id="gos_number-create" name="gos_number" placeholder="Госномер" class="col-12 mb10 btn-rounded" formControlName="gos_number" />

            <label for="images-create">Изображение вашей машины</label>
            <input type="text" id="images-create" name="images" placeholder="Изображение вашей машины" class="col-12 mb10 btn-rounded" formControlName="images"/>

            <label for="buy_date-create">Дата покупки</label>
            <input type="text" id="buy_date-create" name="buy_date" placeholder="Дата покупки" class="col-12 mb10 btn-rounded" formControlName="buy_date" />

            <label for="description-create">Описание</label>
            <input type="text" id="description-create" name="description" placeholder="Описание" class="col-12 mb10 btn-rounded" formControlName="description" />

            <div style="margin-top:11px;">
              <ng-select *ngIf="marks" [(ngModel)]="activeMark" (change)="onChangeMark($event)" [ngModelOptions]="{ standalone: true }" class="col-12 mb10 btn-rounded">
                <ng-option *ngFor="let mark of marks" [value]="mark['id']">{{mark['name']}}</ng-option>
              </ng-select>
            </div>
            <div style="margin-top:11px;">
              <ng-select *ngIf="models" [(ngModel)]="activeModel" (change)="onChangeModel($event)" [ngModelOptions]="{ standalone: true }" class="col-12 mb10 btn-rounded">
                <ng-option *ngFor="let model of models" [value]="model['id']">{{model['name']}}</ng-option>
              </ng-select>
            </div>
          </form>
        </div>
        <div class="row justify-content-end p10">
          <button type="button" class="btn btn-rounded btn-success" (click)="create(createForm)">save</button>
        </div>
      </ng-template>
    </div>
    <div class="col-12">
        <!-- Row -->
        <div class="row card-row">
            <!-- column -->
            <div class="col-lg-3 col-md-6 card" *ngFor="let row of data">
                <div class="card-wrapper">
                    <div class="card-body">
                        <div class="card-body-header">
                          <h4 class="card-title">{{row['mark']}} {{row['model']}}</h4>
                          <div class="actions">
                            <button type="button" class="btn" (click)="edit(content1)"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn delete" (click)="delete(row['id'])"><i class="fa fa-trash-alt"></i></button>
                          </div>
                        </div>
                        <p class="card-text">
                          vin_number: {{row['vin_number']}}
                        </p>
                        <p class="card-text">
                          gos_number: {{row['gos_number']}}
                        </p>
                        <p class="card-text">
                          buy_date: {{row['buy_date']}}
                        </p>
                        <p class="card-text">
                          description: {{row['description']}}
                        </p>
                        <div class="card-body-header absolute bottom left width-full p15 justify-content-end">
                          <div class="card-image-block">
                            <div class="card-image-block-avatar" style="background: url('assets/images/big/img1.jpg') no-repeat;"></div>
                            <div class="card-image-block-content">
                              <h4 class="card-title">{{row['users']['first_name']}} {{row['users']['last_name']}}</h4>
                              <p class="card-text">Телефон: {{row['users']['phone']}}</p>
                              <p class="card-text">Почта: {{row['users']['email']}}</p>
                              <p class="card-text">Дата рождения: {{row['users']['date_of_birth']}}</p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <ng-template #content1 let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title">Сделка № {{row['id']}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body row">
                        <form [formGroup]="editForm">
                          <label for="vin_number-update">Винномер</label>
                          <input type="text" id="vin_number-update" name="vin_number" placeholder="Винномер" class="col-12 mb10 btn-rounded" formControlName="vin_number" [ngModel]="row['vin_number']" />

                          <label for="gos_number-update">Госномер</label>
                          <input type="text" id="gos_number-update" name="gos_number" placeholder="Госномер" class="col-12 mb10 btn-rounded" formControlName="gos_number" [ngModel]="row['gos_number']" />

                          <label for="images-update">Изображение вашей машины</label>
                          <input type="text" id="images-update" name="images" placeholder="Изображение вашей машины" class="col-12 mb10 btn-rounded" formControlName="images" [ngModel]="row['images']" />

                          <label for="buy_date-update">Дата покупки</label>
                          <input type="text" id="buy_date-update" name="buy_date" placeholder="Дата покупки" class="col-12 mb10 btn-rounded" formControlName="buy_date" [ngModel]="row['buy_date']" />

                          <label for="description-update">Описание</label>
                          <input type="text" id="description-update" name="description" placeholder="Описание" class="col-12 mb10 btn-rounded" formControlName="description" [ngModel]="row['description']" />

                          <div style="margin-top:11px;">
                            <ng-select *ngIf="marks" [(ngModel)]="activeMark" (change)="onChangeMark($event)" [ngModelOptions]="{ standalone: true }" class="col-12 mb10 btn-rounded">
                              <ng-option *ngFor="let mark of marks" [value]="mark['id']">{{mark['name']}}</ng-option>
                            </ng-select>
                          </div>
                          <div style="margin-top:11px;">
                            <ng-select *ngIf="models" [(ngModel)]="activeModel" (change)="onChangeModel($event)" [ngModelOptions]="{ standalone: true }" class="col-12 mb10 btn-rounded">
                              <ng-option *ngFor="let model of models" [value]="model['id']">{{model['name']}}</ng-option>
                            </ng-select>
                          </div>
                        </form>
                      </div>
                      <div class="row justify-content-end p10">
                        <button type="button" class="btn btn-rounded btn-success" (click)="save(editForm, row['id'])">save</button>
                      </div>
                    </ng-template>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </div>
    </div>
</div>
<!-- End Row -->
